<div class="container my-4">
    <h1>{{title}}</h1>
    <button class="btn btn-primary" (click)="setOpen()">{{(open == true) ? 'Close' : 'Create'}}</button>
    <div class="row">
        <div class="col">
            <app-user [users]="users" (idUserEventEmitter)="removeUser($event)"
                (userEventEmitter)="setSelectedUser($event)" />
        </div>
    </div>
</div>
@if(open) {
<app-user-form (userEventEmitter)="addUser($event)" [user]="userSelected" (openEventEmitter)="setOpen()"/>
}