<div class="card w-50 m-auto">
    <div class="card-content">
        <div class="card-header">
            <h5 class="card-title">{{(user.id > 0) ? 'Update' : 'Create'}}</h5>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
                <div>
                    <input class="form-control my-2" name="name" placeholder="Name" [(ngModel)]="user.name"
                        autocomplete="off" #name="ngModel">
                    @if(errors?.name){
                    <div class="text-danger">{{errors.name}}</div>
                    }
                </div>
                <div>
                    <input class="form-control my-2" name="lastname" placeholder="Lastname" [(ngModel)]="user.lastname"
                        autocomplete="off" #lastname="ngModel">
                </div>
                @if(errors?.lastname){
                <div class="text-danger">{{errors.lastname}}</div>
                }
                <div>
                    <input class="form-control my-2" name="email" type="email" [(ngModel)]="user.email"
                        autocomplete="off" #email="ngModel" placeholder="Email">
                </div>
                @if(errors?.email){
                <div class="text-danger">{{errors.email}}</div>
                }
                <div>
                    <input class="form-control my-2" name="username" placeholder="Username" [(ngModel)]="user.username"
                        autocomplete="off" #username="ngModel">
                </div>
                @if(errors?.username){
                <div class="text-danger">{{errors.username}}</div>
                }

                <div>
                    <input type="password" class="form-control my-2" name="password" placeholder="Password"
                        [(ngModel)]="user.password" autocomplete="off" #password="ngModel">
                </div>
                @if(errors?.password){
                        <div class="text-danger">{{errors.password}}</div>
                    }
                <div>
                    <button class="btn btn-dark m-2" type="submit">{{(user.id > 0) ?
                        'Update' : 'Create'}}</button>
                    <button class="btn btn-success m-2" type="button" (click)="onClear(userForm)">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>